# Comments and Basic Data Types

In [1]:
# this is a comment

In [3]:
"""
This is a multi-line comment
"""
print("Hello") # this is also a comment

Hello

In [4]:
# the following are integers
print(31)
print(30)
print(3)
print(2)

31
30
3
2

In [5]:
# the following are all floats
print(31.75)
print(19.876)
print(8.0) # even this is a float

31.75
19.876
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [11]:
# Week 2 Monday Challenges
# OUTPUT: Print out your name
print("Jonathan Reeves")

# TYPE CHECKING:
type(int)

Jonathan Reeves

type