# Comments and Basic Data Types

In [1]:
# this is a comment

In [3]:
"""
This is a multi-line comment
"""
print("Hello") # this is also a comment

Hello

In [4]:
# the following are integers
print(31)
print(30)
print(3)
print(2)

31
30
3
2

In [5]:
# the following are all floats
print(31.75)
print(19.876)
print(8.0) # even this is a float

31.75
19.876
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [11]:
# Week 2 Monday Challenges
# OUTPUT: Print out your name
print("Jonathan Reeves")

# TYPE CHECKING:
type(int)

Jonathan Reeves

type

In [13]:
num1 = 5            # storing an integer into a variable
num2 = 8.4          # storing a float into a variable
print(num1, num2)   # you can print multiple items using commas

5 8.4

In [14]:
# stroing a boolean into a variable
switch = True
print(switch)

True

In [16]:
# storing strings into a variable
name = 'Kyle Rayner'
fav_number = '3'
print(name, fav_number) # will print 3 next to the name

Kyle Rayner 3

In [20]:
# using two variables to create another variable
result = num1 + num2
print(result)  # this will print the sum of the two variables

13.4

In [21]:
# adding, deleting, multiplying, dividing from a variable
result += 1  # same as saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1

14.4

In [22]:
# defining a variable and overwriting it's value
name = 'Kyle'
print(name)
name = 'Hal'
print(name)

Kyle
Hal

In [23]:
# Week 2 Tuesday Exercises
# VARIABLE OUTPUT
x = 3
y = 10
result = x * y
print(f"{x} * {y} = {result}")

# AREA CALCULATION
width = 245.54
height = 13.66
area = width * height

3 + 10 = 30