# Comments and Basic Data Types

In [1]:
# this is a comment

In [3]:
"""
This is a multi-line comment
"""
print("Hello") # this is also a comment

Hello

In [4]:
# the following are integers
print(31)
print(30)
print(3)
print(2)

31
30
3
2

In [5]:
# the following are all floats
print(31.75)
print(19.876)
print(8.0) # even this is a float

31.75
19.876
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [11]:
# Week 2 Monday Challenges
# OUTPUT: Print out your name
print("Jonathan Reeves")

# TYPE CHECKING:
type(int)

Jonathan Reeves

type

In [13]:
num1 = 5            # storing an integer into a variable
num2 = 8.4          # storing a float into a variable
print(num1, num2)   # you can print multiple items using commas

5 8.4

In [14]:
# stroing a boolean into a variable
switch = True
print(switch)

True

In [16]:
# storing strings into a variable
name = 'Kyle Rayner'
fav_number = '3'
print(name, fav_number) # will print 3 next to the name

Kyle Rayner 3

In [20]:
# using two variables to create another variable
result = num1 + num2
print(result)  # this will print the sum of the two variables

13.4

In [21]:
# adding, deleting, multiplying, dividing from a variable
result += 1  # same as saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1

14.4

In [22]:
# defining a variable and overwriting it's value
name = 'Kyle'
print(name)
name = 'Hal'
print(name)

Kyle
Hal

In [24]:
# Week 2 Tuesday Exercises
# VARIABLE OUTPUT
x = 3
y = 10
result = x * y
print(f"{x} * {y} = {result}")

# AREA CALCULATION
width = 245.54
height = 13.66
area = width * height
print(area)

3 * 10 = 30
3354.0764

# Working with Strings

In [25]:
# using the addition operator without variables
name = 'Kyle' + " " + "Rayner"
print(name)

Kyle Rayner

In [26]:
# using the addition operator with variables
first_name = "Kyle"
last_name = "Rayner"
full_name = first_name + " " + last_name
print(full_name)

Kyle Rayner

In [27]:
# injecting variables using the format method
name = "Jason"
print("Hello {}".format(name))
print("Hello {}, you are {} years old.".format(name, 31))

Hello Jason
Hello Jason, you are 31 years old.

In [28]:
# using the new f strings (Python 3.6+)
name = "Jason"
print(f"Hello {name}")

Hello Jason

In [29]:
# one major difference between version 2 & 3
name = "Bruce"
print("Hello, %s" % name)

Hello, Bruce

In [30]:
# python 2 multiple variable formatting
first_name = "Bruce"
last_name = "Wayne"
print("Hello, %s %s" %(first_name, last_name))   # surrond the variables in parenthesis

Hello, Bruce Wayne

In [32]:
# using indexes to print each element
word = "Kyle"
print(word[0])    # will output 'K'
print(word[1])    # will output 'y'
print(word[2])    # will output 'l'
print(word[-1])   # will output 'e', using negative numbers will give you the last character in the string
# to use negative numbers start with -1 and count down
print(word[-2])   # will output 'l'

K
y
l
e
l

In [35]:
word = 'Kyle'
print(word[0:2]) # will output 'Ky'

Ky

In [38]:
# the syntax for this is variable_name[start : stop : step]
print(word[0 : 3 : 2])

Kl

In [42]:
# Week 2 Wednesday Exercises
# VARIABLE INJECTION
num = 31
float = 33.4
bool = True
name = "Jon"
print(f"{num} {float} {bool} {name}")

# FILL IN THE BLANKS using the Format method
name = "Jonathna"
activity = "programming in python"
sport = "hockey"
print("{}'s favorite sport is {}.'".format(name, sport))
print("{} is working on {}".format(name, activity))

31 33.4 True Jon
Jonathna's favorite sport is hockey.'
Jonathna is working on programming in python

# Manipulating Strings

In [43]:
# using the title method to capitalize a string
name = "tim drake"
print(name.title())

Tim Drake

In [44]:
# using the upper and lower methods
print(name.upper())
print(name.lower())

TIM DRAKE
tim drake

In [46]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace('!', '.'))

Hello there.

In [48]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [49]:
# removing white space with strip
name = " Jason Todd   "
print(name.strip())

Jason Todd

In [50]:
# try out lstrip and rstrip
name = "  Selina   "
print(name.lstrip())
print(name.rstrip())

Selina
  Selina

In [51]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(' '))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [52]:
# Thursday Exercises
# UPPERCASING
capital = 'hello i will be in all caps'
print(capital.upper())

# STRIP SYMBOLS
new_string = "$$Damian"
print(new_string.strip("$"))

HELLO I WILL BE IN ALL CAPS
Damian

# Friday Project: Printing Receipts

In [66]:
# create a product and price for three items
product1_name, product1_price = "Comics", 32.25
product2_name, product2_price = "Laptop", 1999.99
product3_name, product3_price = "Dock", 199.99

# create a company name and information
company_name = "pythonic temple of coding, inc."
company_address = "356 Python Way"
company_city = "Weatherford, TX"

# declare ending message
message = "Thanks for swinging by today!"

# create a top border
print("*" * 50)


# print company information first, using format
print(f"\t\t{company_name.title()}")
print(f"\t\t{company_address}")
print(f"\t\t{company_city}")

# print a line between sections
print("=" * 50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print(f"\t{product1_name.title()}\t\t{product1_price}")
print(f"\t{product2_name.title()}\t\t{product2_price}")
print(f"\t{product3_name.title()}\t\t{product3_price}")

# print a line between sections
print("=" * 50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = product1_price + product2_price + product3_price
print(f"\t\t\t${total}")

# print a line between sections
print("=" * 50)

# output thank you message
print(f"\n\t{message}")

# create a bottom border
print("*" * 50)

**************************************************
		Pythonic Temple Of Coding, Inc.
		356 Python Way
		Weatherford, TX
==================================================
	Product Name	Product Price
	Comics		32.25
	Laptop		1999.99
	Dock		199.99
==================================================
			Total
			$2232.23
==================================================

	Thanks for swinging by today!
**************************************************

In [70]:
# reversing the string "Hello" using slicing
s = "Hello"[::-1]
print(s)

olleH